numpy<2.0
google-api-python-client>=2.100.0
google-auth-httplib2
google-auth-oauthlib
requests>=2.31.0
urllib3>=2.2.0
PyMuPDF
python-docx
pytesseract
Pillow
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz
nltk
Jinja2
WeasyPrint
reportlab
